:root {
  --background: hsl(0,0%,100%);
  --text: hsl(0,0%,100%);
  --text2: hsl(0,0%,80%);
  --text3: hsl(0,0%,0%);
  --footer: hsl(0, 1%, 16%);
  --color1: hsl(176.07,100%,20.98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  max-height: 100vh;
  background-color: var(--background);
}